* {
    margin: 0;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family: 'Open Sans',sans-serif;
    background-color: #E9D5DA;
} 

body {
    display: contents;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh; 
    /* background-size: contain;  */
    background-position: center;
    background : #213E3B; 
} 

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #363062;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.heading{
    position: relative;
    left: 450px;
    font-size: 2.5em;
    background: #363062;
    color: #E9D5DA;
    user-select: none;
}

.row1{
    position: absolute;
    /* left: 0; */
    /* padding-left: 10px; */
    top: 75px;
}

.row2{
    position: absolute;
    /* left: 0; */
    /* top: 100px; */
    top: 200px;
}

.row3{
    position: absolute;
    /* left: 0; */
    /* top: 100px; */
    top: 325px;
}

.row4{
    position: absolute;
    /* left: 0; */
    /* top: 100px; */
    top: 450px;
}

.row5{
    position: absolute;
    /* left: 0; */
    /* top: 100px; */
    top: 500px;
}

.row5{
    position: absolute;
    /* left: 0; */
    /* top: 100px; */
    top: 700px;
}

.row6{
    position: absolute;
    /* left: 0; */
    /* top: 100px; */
    top: 825px;
}

.row7{
    position: absolute;
    /* left: 0; */
    /* top: 100px; */
    top: 950px;
}

.row8{
    position: absolute;
    /* left: 0; */
    /* top: 100px; */
    top: 1075px;
}

.img{
    height: 30px;
    width: 30px;
}

.btn{
    border: 3px solid #363062;
    background: none;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    margin: 45px;
    transition: .8s;
    position: relative;
    overflow: hidden;
}

.btn1{
    position: relative;
    font-size:25px;
    color: #363062;
    padding: 10px 62px;
    text-align: center;
}

.btn2{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 100px;
    text-align: center;
}

.btn3{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 60px;
    text-align: center;
}

.btn4{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 28px;
    text-align: center;

}

.btn5{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 95px;
    text-align: center;

}

.btn6{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 18px;
    text-align: center;
}

.btn7{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 105px;
    text-align: center;
}

.btn8{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 112px;
    text-align: center;
}

.btn9{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 125px;
    text-align: center;
}

.btn10{
    position: relative;
    font-size: 25px;
    color: #363062;;
    padding: 10px 135px;
    text-align: center;
}

.btn11{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 112px;
    text-align: center;
}

.btn12{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 110px;
    text-align: center;
}

.btn13{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 57px;
    text-align: center;
}

.btn14{
    position: relative;
    font-size: 25px;
    color: #3498db;
    padding: 10px 75px;
    text-align: center;
}

.btn15{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 67px;
    text-align: center;
}

.btn16{
    position: relative;
    font-size: 25px;
    color: #3498db;
    padding: 10px 150px;
    text-align: center;
}

.btn17{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 68px;
    text-align: center;
}

.btn18{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 30px;
    text-align: center;
}

.btn19{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 88px;
    text-align: center;
}

.btn20{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 93px;
    text-align: center;
}

.btn21{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 69px;
    text-align: center;
}

.btn22{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 25px;
    text-align: center;
}

.btn23{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 125px;
    text-align: center;
}

.btn24{
    position: relative;
    font-size: 25px;
    color: #363062;
    padding: 10px 35px;
    text-align: center;
}


.btn:hover{
    color: #3498db;
    /* padding: 15px 20px; */
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.btn::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn:hover::before{
    height: 180%;
}